@page "/"

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        <Cases />
    </Authorized>
    <NotAuthorized>
        <h1>Not Authenticated </h1>
    </NotAuthorized>
</AuthorizeView>